body{
	
	background: url(../img/miFondo.png) center / cover;
	background-attachment: fixed;
}

#imagenPrevisualizacion{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	box-shadow: #000 5px 1px 8px; 
}

.wrap{
	border-radius: 30px;
	background-color: #f8f8f8;
}

#seleccionArchivos{
	margin-left: 35%;
}

.img{
	justify-content: center;
	text-align: center;
	margin-left: 50px;
}

.pict{
	margin-left: 50px;
	margin-top: 20px;
}

input[type="file"]{
	color:  transparent;
}


header{
	width: 100%;

}

header nav{
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	background-color: #037E8C;
}

header nav ul{
	overflow: hidden;
	list-style: none;
	
}

header nav ul li{
	float: left;
}

header nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 20px;
	display: block;
	display: flex;
	align-items: center;
}

header .span{
	margin: auto;
	margin-right: 10px;
	padding: 0px;
	width: 25px;
	display: inline-block;

}

header nav ul li a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #2EAFBA;
}

.menu_bar{
	display: none;
}

.footer{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(138, 245, 217, 0.7);
	padding: 10px;
	border-top: solid 1px #000;
	/*font-family: 'Times New Roman';
	font-size: 14px;*/
	color: #000;
}

.footer a{
	margin-left: 2%;
	text-decoration: underline;
    color: #0C0FF9;
}



.menu_fixed{
	position: fixed;
	z-index: 1000;
	top: 0;
}



@media screen and (max-width: 950px) {
	header nav{
		width: 80%;
		height: 100%;
		left: -100%;
		margin: 0;
		position: fixed;
		z-index: 1;
	}

	header nav ul{
		width: 100%;
	}

	header nav ul li{
		display: block;
		
		float: none;
		border-bottom: 1px solid rgba(255,255,255,.3); 
	}

	.menu_bar{
		display: block;
		width: 100%;
		transition: all ease .6s;
	}

	.menu_bar .bt_menu{
		display: block;
		padding: 20px;
		background-color: #037E8C;
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		font-size: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.menu_bar .span{
		float: right;
		font-size: 40px;
	}
	.regresar{
		z-index: 0;
	}

	.miMenu{
		position: fixed;
		z-index: 1000;
		top: 68px;
	}

	.img{
		margin-left: 25px;
	}
	.pict{
		margin-left: -25px;
	}



}


@media screen and (max-width: 750px){
	footer a {
		display: none;
	}
}